* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --azul-marinho: #003366;
  --azul-celeste: #1398be;
  --laranja: #de9800;
  --cinza: #cccccc;
  --vermelho: #c91b04;
  --branco: #dddddd;
  --branco-gelo: #f7f7f7;
  --separadores: #999999;
  --texto-tabela: #666666;
  --legenda-quadrado: #8f8f8f;
  --legenda-sigla: #555555;
  --preto: #000000;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#corpoTabela {
  width: 70vh;
  border: 1px solid var(--branco);
}

table {
  width: 69.8vh;
  border-collapse: collapse;
}

table .azul {
  font-size: 18px;
  font-weight: bold;
  color: var(--azul-marinho);
}

thead {
  border-bottom: 2px solid var(--branco);
}

table .azulClaro {
  font-size: 18px;
  font-weight: bold;
  color: var(--azul-celeste);
}

tbody {
  border-bottom: 2px solid var(--branco);
}

table .laranja {
  font-size: 18px;
  font-weight: bold;
  color: var(--laranja);
}

table .cinza {
  font-size: 18px;
  font-weight: bold;
  color: var(--cinza);
}

table .vermelho {
  font-size: 18px;
  font-weight: bold;
  color: var(--vermelho);
}

th {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
  border-bottom: 1px solid var(--branco);
  color: var(--separadores);
}
td {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid var(--branco);
  color: var(--texto-tabela);
}

td:nth-child(2) {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: var(--texto-tabela);
}

td:nth-child(3) {
  font-size: 14px;
  font-weight: bold;
  color: var(--preto);
}

td:nth-child(2n + 1) {
  background-color: var( --branco-gelo);
}

footer {
  margin: 7px;
  margin-left: 10px;
  font-size: 10px;
  color: var(--legenda-quadrado);
  display: flex;
  flex-wrap: wrap;
}

footer div {
  margin-right: 10px;
  margin-left: 5px;
}

.quadrado-azul {
  width: 10px;
  height: 10px;
  background-color: var(--azul-marinho);
}

.quadrado-azulclaro {
  width: 10px;
  height: 10px;
  background-color: var(--azul-celeste);
}

.quadrado-amarelo {
  width: 10px;
  height: 10px;
  background-color: var(--laranja);
}

.quadrado-vermelho {
  width: 10px;
  height: 10px;
  background-color: var(--vermelho);
}

.legendas {
  margin-left: 5px;
  font-size: 10px;
  color: var(--legenda-sigla);
}
